--index-url https://pypi.python.org/simple/
tiktoken
requests
md2tgmd
# jieba
python-dotenv
beautifulsoup4
python-telegram-bot[webhooks,rate-limiter]==20.6

# langchain
# chromadb
# unstructured[md,pdf]
fake_useragent
openai==0.28.1
google-api-python-client
duckduckgo-search==4.1.0
langchain==0.0.271
oauth2client==3.0.0
pdfminer.six
# g4f==0.1.9.6

# plugin
pytz