--index-url https://pypi.python.org/simple/
python-dotenv
python-telegram-bot[webhooks,rate-limiter,job-queue]==21.0.1

pytz
pillow
msgspec
fastapi
chardet
requests
html2text
httpx-socks
httpx[http2]
fake-useragent
beautifulsoup4
lxml-html-clean
pdfminer.six==20240706
duckduckgo-search==5.3.1