--index-url https://pypi.python.org/simple/
tiktoken
requests
waitress
flask[async]
python-telegram-bot==20.4

# langchain
openai
chromadb
wikipedia
fake_useragent
google-api-python-client
unstructured[md]
unstructured[pdf]
duckduckgo-search==3.8.5
langchain==0.0.271
oauth2client==3.0.0
g4f==0.1.5.6