name: Publish Docker Image

on:
  push:
    branches:
      - main
    paths:
      - Dockerfile.build
      - requirements.txt
      - setup.sh
      - .github/workflows/main.yml

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1.6.0

    - name: Login to Docker Hub
      uses: docker/login-action@v3.0.0
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2.7.0
      with:
        context: .
        file: Dockerfile.build
        push: true
        tags: yym68686/chatgpt:1.0